body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #003366, #0066cc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h2 {
  margin-bottom: 20px;
  color: #003366;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;

  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

button:hover {
    width : 100%;
  background-color: #004c99;
}

#message {
  margin-top: 15px;
  color: red;
}